{% extends "base.html" %}
{% block title %}Watched Movies{% endblock %}
{% block content %}
    <h2>Watched Movies</h2>
    {% if current_user.is_authenticated and current_user.is_admin %}
        <form action="{{ url_for('main.watched_movies') }}" method="POST">
            <input type="text" name="title" placeholder="Add a watched movie" required>
            <button type="submit">Add Movie</button>
        </form>
    {% endif %}
    <ul>
        {% for movie in movies %}
            <li>{{ movie.title }}
                {% if current_user.is_authenticated and current_user.is_admin %}
                    <a href="{{ url_for('main.delete_movie', movie_id=movie.id) }}">
                        <button>Delete Movie</button>
                    </a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}
